/* HEADER */
* { margin: 0; padding: 0;}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "marvin", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 20px; 
}
.logo {
  flex-basis: 20%;
}

.logo img {
  width: 150px;
}

nav {
  flex-basis: 60%;
  background: linear-gradient(to right, #275b5f, #2d295e, #b22338, #db413a, #e05a2a, #eba43f);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login-button {
  flex-basis: 10%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  
  
}

nav ul li {
  margin: 0 10px;
  
}

nav ul li a {
  display: inline-block; /* This will add vertical spacing between the links */
  padding: 1px 0;
  text-decoration: none;
  color: white;

}
/* PAGE INDEX */
.container {
    display: flex;
  }

.titreindex{
  font-family: "marvin", sans-serif;
  font-style: normal;
  margin-left: 80px;
  font-size: 75px;
  margin-top: 50px;
}

.ensavoir{
  background-color: #2d295e;
  border-radius: 25px;
  color: #ffffff;
  margin-left: 60px;
  padding: 10px;
  margin-top: 60px;
  height: 49px;
  width: 200px;
  font-size: 20px;
}
  
  /* Styles for the left column (80%) */
  .left-column {
    flex: 80%;
    background-color: white;
    padding: 20px;
  }
  
  .left-column p {
    font-size: 24px;
    font-weight: bold;
  }
  
  .left-column button {
    background-color: orange;
    color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Styles for the right column (20%) */
  .right-column {
    flex: 20%;
    background-color: #f5f5f5;

  }
  
  .imgmimuss {
    height: 524px;
    width: 423px;
}

.parent {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.child {
  flex: 1 1 0px;
  padding: 20px;
  color: black;
  border-radius: 20px;
  margin-right: 20px;
}

.child:last-child {
  margin-right: 0;
}

.banner {
  background-color: rgba(178, 31, 59, 0.12); /* Couleur avec opacité */
  color: black;
}

.banner-content {
  display: flex;
  align-items: center;
}

.banner-image {
  flex: 1;
}

.banner-text {
  flex: 1;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

.banner-image img {
  max-width: 100%;
}

  /* PAGE CONNEXION  */
  h3 {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
}

p{
  
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 40px;
}

.form-label {
    color: #2d295e;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #b22338;
}

.btn-primary {
    background-color: #b22338;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #db413a;
}

.error {
    color: #e05a2a;
    margin-top: 5px;
    font-size: 14px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.login-form {
  flex: 1;
  margin-right: 50px;
}

.signup-form {
  flex: 1;
  margin-right: 40px;
}
/* PAGE A PROPOS */
:root {
  --couleur-principale: #ff0000;
  --couleur-secondaire: #275b5f; 
}  

.centre{
  display: flex;
  justify-content: center;
}

.blocarriere{
  margin-top: 75px;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.blocarriere:first-child {
  border-right: 2px solid #CCCCCC; /* Définissez la couleur et l'épaisseur de la barre */
}

.blocavant{
  background-color: var(--couleur-secondaire);
  height: 100%;
  width: 430px;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: aliceblue;
}

.blocavant2{
  height: 100%;
  width: 430px;
  border-radius: 20px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.formulaire{
  width: 55%;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color:aliceblue;
}

.formulaire input[type=text] {
  width: 90%; 
  height: 20px; 
}

.formulaire input[type=submit] {
  display: block; 
  margin: 0 auto; 
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  background-color: #017451;
  color: aliceblue;
}

textarea {
  width: 82%; 
  height: 100px; 
  resize: vertical;
  padding: 10px; 
}

.ggmaps {
  width: 80%;
  height: 270px;
  background-image: url('images/gg maps.png');
  background-size: cover;
  background-position: center; /* Centrer l'image horizontalement et verticalement */
  border-radius: 20px;
  margin: 0 auto; /* Centre la div horizontalement */
  margin-top: 20px;
}

.coordonnees{
  margin-top: 20px;
  padding-left: 40px;
}

@media screen and (max-width: 900px) {
  .centre {
    flex-direction: column; 
  }
}
/*PAGE INTERVIEW*/
.first{
  background-color: #e05a2a;
  margin: 10px 50px 10px 50px;
  padding: 10px ;
  border-radius: 25px;
  height: 500px;
}

.rectanglefirst{
  margin: 20px;
  background-color: #2d295e;
  width: 25%;
  border-radius: 15px;
}

.videokr {
  background-color: white;
  width: 87%;
  height: 383px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  border-radius: 15px; 
  overflow: hidden; 
}

/* PAGE LIRE  */
.BD{
  background-color: #275b5f;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  display: flex;
}

.imgbd{
  margin-left: 250px;
}

.txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 50px;
}

.txtbdtitre{
  color: white;
  text-align: center;
  align-self: center;
  margin-bottom: 100px;
}

/* NEWSLETTER */


.blocarriere{
  margin-top: 75px;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.blocavant{
  background-color: var(--couleur-secondaire);
  height: 100%;
  width: 430px;
  border-radius: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.formulaire{
  width: 55%;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color:aliceblue;
}

.formulaire input[type=text] {
  width: 90%; 
  height: 20px; 
  color: black;
}

.formulaire input[type=submit] {
  display: block; 
  margin: 0 auto; 
  border-radius: 10px;
  padding: 3px;
  margin-top: 15px;
  background-color: #017451;
  padding: 10px;
}

/* FOOTER  */
footer{
  background: linear-gradient(to right, #275b5f, #2d295e, #b22338, #db413a, #e05a2a, #eba43f);
}

footer > .newsletter{
  margin-top: 4%;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*Newsletter*/


.form-input{
  display: flex;
  justify-content: center;
  margin: 0em 2em;
}

input {
  padding: .8rem 1rem;
  width: 50%;
  border-radius: 5rem;
  outline: none;
  border: .1rem solid #d1d1d1;
  font-size: .7rem;
}

::placeholder {
  color: #d1d1d1;
}

.subscribe-btn {
  margin-left: 2%;
  padding: .3rem 2rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.subscribe-btn > img{
  width: auto;
  height: 30px;
}



footer > .newsletter > a {
  font-family: "marvin", sans-serif;
  text-decoration: none;
  color: white;
  padding: 3% 0%;
}


.footer-div {
  font-family: "marvin", sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
}
 
/*FOOTER-LEFT*/
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-left > img {
width: auto;
height: 50px;
}

.bubbles{
  width: auto;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;

}
.footer-left img {
  padding-bottom: 10px;
}
/*FOOTER-MIDLLE*/
 
 
 
.conteneur-footer{
display: flex;
flex-direction: column;
line-height: 2em
}
 
.conteneur-footer > a {
  text-decoration: none;
  color: white;
}
 
 
/*FOOTER-RIGHT*/
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right > p  {
  line-height: 1.8;
  font-size: 70%;
  }

  .footer-right > a{
    color: white;
  }